@use '../../styles/variables.scss' as variables;

$block: '.result-page';

#{$block} {
    & {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        height: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    &__header__title {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__technologies__item {
        margin: 4px;
    }

    &__back {
        position: relative;
        top: 4px;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        max-height: calc(100vh - 260px);
    }

    &__yc-table__table {
        width: 100%;
        flex: 1;
    }

    &__table {
        flex: 1;
    }

    &__footer {
        position: absolute;
        bottom: -4px;
        left: 0px;
    }
}
